# credenciales / llaves / historiales
.git-credentials
.git-credentials.bak
.ssh/
.lesshst
.bash_history

# caches / IDE
.cache/
.codeoss/

# binarios grandes / herramientas
cloudcode_cli
cloud-code/
cloud-code/**

# comunes
node_modules/
dist/
build/
__pycache__/
*.pyc
.env
.env.*
